section {
    &#navbar {
        background-color: $light-blue;
        height: $navbar-height;
        min-height: 92px;
        @include flex-center();
    }
    &#results {
        position: relative;
        z-index: -100;
        width: 100%;
        min-height: 350px ;
        margin-top: 60px;
        .results-container {
            margin: 0 auto;
            @include flex-center();
            flex-direction: column;
            width: 85%;
            .results-headers {
                width: 100%;
                text-align: center;
                box-shadow: 0 2px 5px $black;
                padding: 0px 5px 20px;
                border-radius: 5px;
                background-color: yellowgreen;
                color: blue;
                h1{
                    color: black;
                }
                h3{
                    color:black;
                    span{
                        color: blue;
                    }
                }

            }
            .results-body {
                margin: 30px 10px 0;
                display: grid;
                gap: 0.3rem;
                @media (min-width: 360px) {
                    grid-template-columns: 130px 200px;
                }

                .confirmed,
                .deaths,
                .recovered {
                    background-color: rgb(255, 241, 42);
                    padding: 10px;
                    text-align: center;
                    border-radius: 3px;
                    @include flex-center();
                    flex-direction: column;
                    color: blue;
                    h2 {
                        margin: 10px 15px;
                    }
                    p {
                        color: $black;
                        span {
                            color: blue;
                        }
                    }
                }
                .confirmed {
                    background-color: rgb(255, 159, 68);
                    grid-row: 1 / 3;
                }
            }
        }
        .hide {
            display: none;
            z-index: -100;
        }
    }

    &#love-msg {
        margin-top: 30px;
        height: 30px;
    }
}
