.hamburger{
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    padding-top: 2.5px;
    width: 45px;
    border: solid white 1px;
    border-radius: 5px;
    color:rgb(235, 231, 231);
    display: none;
}

@media(max-width:920px){
    .hamburger{
        display: block;
    }
}
.fa-arrow-right, .fa-arrow-left{
    color: white;
}
.visual-button{
    @include circular-button($yellow-orange, 15px, 50px)  
}
.level-button{
    @include circular-button($light-blue, 20px, 50px)  
}
.fa-window-close-button{
    position: absolute;
    right: 30px;
    width: 33px;
    height: 33px;
    background-color: $pink;
    border-style: none;
}