.hamburger{
    background-color: $highlight;
    box-shadow: 2px 2px 20px $black;
    border-style: none;
    color:$black;
    display: none;
    @include circular-button($white, 50px, 50px);
}

@media(max-width:920px){
    .hamburger{
        display: block;
    }
}
.fa-arrow-right, .fa-arrow-left{
    color: white;
}
.visual-button{
    @include circular-button($yellow-orange, 15px, 50px)  
}
.level-button{
    @include circular-button($light-blue, 20px, 50px)  
}
.fa-window-close-button{
    position: absolute;
    right: 30px;
    width: 33px;
    height: 33px;
    background-color: $pink;
    border-style: none;
}